{% extends 'layout.html' %}
{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.10.2/main.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #fff !important;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        /* Stil eklemek için gerekli bir kısım */
        .gift-box-icon {
            text-align: center;
            margin-top: 20px;
        }
        .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.2); /* Mavi gölgeli kutu */
}

        /* New styles for red color */
        .red-text {
            color: blue;
            font-style: italic;
        }
        .red-background {
            background-color: blue;
        }
    </style>
    
{% endblock  %}

{% block title %}
    Birthday 
{% endblock %}

{% block content %}
    
    {% include 'includes/sidebar.html' %}

    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4 red-text"><u>Add Birthday</u></h2>

                        <div id="birthday-animation"></div>

                        <form action=""  method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name" class="red-text">Name:</label>
                                <input type="text" class="form-control" name="person_name" placeholder="Name" required>
                            </div>
                            <div class="form-group">
                                <label for="date" class="red-text">Date:</label>
                                <input type="date" class="form-control"name="birth_date" required>
                            </div>
                            <button type="submit" class="btn btn-primary  btn-block red-background">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div class="gift-box-icon" style="margin-right: 0px;">
        <i class="fas fa-gift fa-3x red-text"></i>
    </div> {% endcomment %}

    <!-- Upcoming Birthdays -->
    <div class="container mt-5 mr-6">
        <div class="row justify-content-center">
            {% for birthday in upcoming_birthdays %} 
                <div class="col-md-8">
                    <div class="card mb-3 mr-8" style="background-color: #f2f2f2;">
                    
                       
                        <div class="card-body">
            
                            <h5 class="card-title">  <i class="fas fa-gift red-text"></i> {{birthday.person_name }}'s Birthday</h5>
                            <p class="card-text">Date: {{ birthday.birth_date }}</p>
                             <form method="post"  action="{% url 'delete_birthday' birthday_id=birthday.id%}">
                
                                {% csrf_token %}
                            <button class="btn btn-danger btn-sm delete-birthday" style="position: absolute; top: 2px; right: 2px;">  <i class="fas fa-trash-alt"></i></button>
                             </form>
                          
                        </div>
                       
                    </div>
                </div>
            {% endfor %} 
        </div>
    </div>

{% endblock %}


<script>
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('birthday-animation'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'animations/birthday.json' 
    });
</script>
