{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_page.css' %}">
    <!-- CKEditor CSS -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #333333 !important; /* Açık gri */
        }
    </style>
{% endblock  %}


{% block title %}
 Notes
{% endblock %}

{% block content %}

    {% include 'includes/sidebar.html' %}
    
    <div class="container mt-3 ">
      <div class="row justify-content-center">
          <div class="col-md-8">
            
            <button class="edit-post-btn lg" style="background-color: transparent; border: none; color: black; padding: 0; cursor: pointer;">
              <i class="fas fa-edit" style="font-size: 12px; margin: 0; color: #888;"></i>
          </button>
          <form action="{% url 'delete_post' post_id=post.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete-post-btn lg" style="background-color: transparent; border: none; color: black; padding: 0; cursor: pointer;">
                <i class="fas fa-trash" style="font-size: 12px; margin: 0; color: #888;"></i>
            </button>
        </form>
        
        
          
          
                  <div class="card-body">
                    <h2 class="card-title" style="color: white;">{{ post.title }}</h2>

                      <p class="card-text">{{ post.body|safe }}</p>
                  </div>
                  <div class="card-footer">
                    <small style="color: white;" class="text-muted">Created on {{ post.creation_date|date:"F d, Y" }} at {{ post.creation_date|time:"H:i" }}</small>

                  </div>
             
          </div>
      </div>
  </div>
  
{% endblock %}
