{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_page.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa; /* Arka plan rengi */
        }
        .form-container {
            background-color: #ffffff; /* Form arka plan rengi */
            border-radius: 10px; /* Kenar yuvarlatma */
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Gölgelendirme */
            padding: 30px; /* Padding artırıldı */
            margin-top: 100px; /* Yukarıdan daha fazla boşluk bırakıldı */
        }
        .form-control {
            padding: 15px; /* Form elemanları biraz daha büyütüldü */
        }
    </style>
{% endblock  %}

{% block title %}
     Şifre Değiştirme
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.html' %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header align-items-center d-flex">
                        <h4 class="card-title mb-0 flex-grow-1">Şifre Güncelleme</h4>
                        <div class="flex-shrink-0">
                            
                        </div>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <p class="text-muted">Şifre Güncelleme işlemlerinizi burada yapabilirsiniz. Dikkate etmeniz gerekenler :<br/>
                            - Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.<br/>
- Parolanız en az 8 karakter içermek zorundadır.<br/>
- Parolanız yaygın olarak kullanılan bir parola olamaz.<br/>
- Parolanız tamamıyla sayısal olamaz.
                        </p>
                        {% if messages %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for message in messages %}
                                <li>{{ message }}</li>

                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <form class="row g-3" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="id_old_password" class="form-label">Eski Şifre</label>
                                {{ form.old_password }}
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password1" class="form-label">Yeni Şifre</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="mb-3">
                                <label for="id_new_password2" class="form-label">Yeni Şifre Tekrar</label>
                                {{ form.new_password2 }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-animation waves-effect waves-light" style="display: block; margin: 0 auto; width: 150px " data-text="Şifremi Güncelle"><span>Şifremi Güncelle</span></button>
                        </form>
                        




                            
                        </div>
                    </div>
                </div> <!-- end col -->
            
            </div>
            <!-- end row -->
        
        </div>

    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->
    </div>
{% endblock %}
