{% extends 'layout.html' %}

{% load static %}

{% block css_files %}
    {{ block.super }} 
    <link rel="stylesheet" href="{% static 'block/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/add_page.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            background-color: #f8f9fa; /* Arka plan rengi */
        }
        .form-container {
            background-color: #ffffff; /* Form arka plan rengi */
            border-radius: 10px; /* Kenar yuvarlatma */
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Gölgelendirme */
            padding: 30px; /* Padding artırıldı */
            margin-top: 100px; /* Yukarıdan daha fazla boşluk bırakıldı */
        }
        .form-control {
            padding: 15px; /* Form elemanları biraz daha büyütüldü */
        }
    </style>
{% endblock  %}

{% block title %}
     Şifre Değiştirme
{% endblock %}

{% block content %}
    {% include 'includes/sidebar.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container">
                    <h2 class="text-center mb-4"><i class="fas fa-lock"></i> Şifre Değiştirme</h2>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="current_password">Mevcut Şifre:</label>
                            {{ form.old_password }}

                        </div>
                        
                        <div class="form-group">
                            <label for="new_password1">Yeni Şifre:</label>
                            {{ form.new_password1 }}
                        </div>
                        
                        <div class="form-group">
                            <label for="new_password2">Yeni Şifre Tekrar:</label>
                            {{ form.new_password2 }}
                        </div>
                        
                        <button type="submit" class="btn btn-secondary btn-block">Şifre Değiştir</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}
