{% extends 'layout.html' %}

{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center mt-5">
                    <img class="img-fluid rounded-start p-0 mb-3" src="{% static 'img/logo2.png' %}" alt="" style="width: 400px; height: auto;"/>
                </div>
                
                <div class="d-grid gap-4 d-md-flex justify-content-center mt-5">
                    <!-- Login Butonu -->
                    <a href="{% url 'user_login' %}" class="btn btn-secondary mx-2" style="width: 200px;">Login</a>
                    <!-- Register Butonu -->
                    <a href="{% url 'user_register' %}" class="btn btn-secondary mx-2" style="width: 200px;">Register</a>
                    
                </div>
                
                <div class="col-md-5 text-center mt-5">
                    <h2>Sayfa içeriği doldurulabilir</h2>
                </div>

            </div>
        </div>
    </div>
{% endblock %}